[workspace]
members = [
  'node',
  'pallets/*',
  'runtime/manta',
  'runtime/calamari',
  'runtime/dolphin',
  'runtime/common',
  'primitives',
]
resolver = "2"

[profile.production]
codegen-units = 1
inherits = "release"
lto = true
strip = "symbols"

[profile.release]
panic = "unwind"

[profile.test]
debug = true
