[package]
authors = ['Manta Network']
description = 'Simple staking pallet with a fixed stake.'
edition = "2021"
homepage = 'https://manta.network'
license = 'GPL-3.0'
name = 'manta-collator-selection'
readme = 'README.md'
repository = 'https://github.com/Manta-Network/Manta/'
version = '3.2.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
codec = { version = '3.1.2', default-features = false, features = ['derive'], package = 'parity-scale-codec' }
log = { version = "0.4.16", default-features = false }
rand = { version = "0.8.5", default-features = false, optional = true }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
serde = { version = "1.0.137", default-features = false }

frame-support = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
frame-system = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
pallet-authorship = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
pallet-session = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-arithmetic = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-runtime = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-staking = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-std = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }

frame-benchmarking = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22", optional = true }

[dev-dependencies]
pallet-aura = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
pallet-balances = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
pallet-timestamp = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
sp-consensus-aura = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
sp-io = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
sp-runtime = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }
sp-tracing = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.22" }

[features]
default = ['std']
runtime-benchmarks = [
  'frame-benchmarking',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'rand/std_rng',
]
std = [
  'codec/std',
  'log/std',
  'scale-info/std',
  'sp-runtime/std',
  'sp-staking/std',
  'sp-std/std',
  'frame-support/std',
  'frame-system/std',
  'frame-benchmarking/std',
  'pallet-authorship/std',
  'pallet-session/std',
]
