[package]
authors = ['Manta Network']
edition = "2021"
homepage = 'https://manta.network'
license = 'GPL-3.0'
name = "runtime-common"
repository = 'https://github.com/Manta-Network/Manta/'
version = '4.0.0-rc1'

[dependencies]
# Substrate dependencies
frame-support = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26", default-features = false }
pallet-transaction-payment = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26", default-features = false }
sp-runtime = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26", default-features = false }
sp-std = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26", default-features = false }

# Self dependencies
manta-primitives = { path = '../../primitives/manta', default-features = false }

[dev-dependencies]
sp-io = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }

[features]
default = ["std"]
std = [
  "frame-support/std",
  "manta-primitives/std",
  "pallet-transaction-payment/std",
  "sp-runtime/std",
  "sp-std/std",
]
try-runtime = [
  "frame-support/try-runtime",
]
