[package]
authors = ["Adam Reif"]
edition = "2021"
name = "pallet-lottery"
version = "0.1.0"

[dependencies]
codec = { version = '3.1.2', default-features = false, features = ['derive'], package = 'parity-scale-codec' }
log = { version = "0.4.0", default-features = false }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }

# Substrate dependencies
frame-support = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }
frame-system = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }
sp-io = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }
sp-runtime = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }
sp-std = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.28" }

# Self dependencies
manta-primitives = { path = "../../primitives/manta", default-features = false }
runtime-common = { path = "../../runtime/common", default-features = false }
pallet-parachain-staking = { path = '../parachain-staking', default-features = false }
session-key-primitives = { path = '../../primitives/session-keys', default-features = false }

[features]
default = ["std"]
std = [
  "manta-primitives/std",
  "pallet-parachain-staking/std",
  "session-key-primitives/std",
  "sp-core/std",
  "sp-std/std",
  "sp-io/std",
  "sp-runtime/std",
  "frame-support/std",
  "frame-system/std",
]
