[package]
authors = ['Manta Network']
build = 'build.rs'
description = 'A Manta Network node.'
edition = '2018'
homepage = 'manta.network'
license = 'GPL V3'
name = 'manta'
version = '3.0.0'

[[bin]]
name = 'manta'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-build-script-utils = '3.0.0'

[dependencies]
jsonrpc-core = '15.1.0'
structopt = '0.3.8'
rand = "0.7.2"
hex-literal = '0.3.1'
serde = { version = "1.0.102", features = ["derive"] }

# Substrate dependencies
frame-benchmarking = '3.1.0'
frame-benchmarking-cli = '3.0.0'
pallet-transaction-payment-rpc = '3.0.0'
pallet-contracts-rpc = '3.0.0'
sc-basic-authorship = '0.9.0'
sc-cli = { features = ['wasmtime'], version = '0.9.0' }
sc-client-api = '3.0.0'
sc-consensus = '0.9.0'
sc-consensus-babe = { default-features = false, version = '0.9.0'}
sc-consensus-babe-rpc = '0.9.0'
sc-consensus-epochs = "0.9.0"
sc-consensus-slots = '0.9.0'
sc-chain-spec = '3.0.0'
sc-executor = { features = ['wasmtime'], version = '0.9.0' }
sc-finality-grandpa = '0.9.0'
sc-finality-grandpa-rpc = '0.9.0'
sc-keystore = '3.0.0'
sc-network = '0.9.0'
sc-rpc = '3.0.0'
sc-rpc-api = '0.9.0'
sc-service = { features = ['wasmtime'], version = '0.9.0' }
sc-telemetry = '3.0.0'
sc-transaction-pool = '3.0.0'
sc-sync-state-rpc = '0.9.0'
sp-api = '3.0.0'
sp-block-builder = '3.0.0'
sp-blockchain = '3.0.0'
sp-consensus = '0.9.0'
sp-consensus-babe = { default-features = false, version = "0.9.0" }
sp-core = '3.0.0'
sp-finality-grandpa = '3.0.0'
sp-inherents = '3.0.0'
sp-keystore = '0.9.0'
sp-runtime = '3.0.0'
sp-transaction-pool = '3.0.0'
substrate-frame-rpc-system = '3.0.0'


# local dependencies
manta-runtime = { path = './runtime', version = '3.0.0' }

[features]
default = []
runtime-benchmarks = ['manta-runtime/runtime-benchmarks']

[dev-dependencies]
sc-keystore = { version = "3.0.0" }
sc-consensus = { version = "0.9.0" }
sc-consensus-babe = { version = "0.9.0", features = ["test-helpers"] }
sc-consensus-epochs = { version = "0.9.0" }
futures = "0.3.9"
tempfile = "3.1.0"
assert_cmd = "1.0"
nix = "0.20.0"
serde_json = "1.0"
regex = "1"
platforms = "1.1"