[Unit]
Description=Calamari Parachain Node
After=network.target

[Service]
EnvironmentFile=/etc/default/calamari
ExecStart=/usr/bin/calamari \
  ${sn_para_flags} \
  --name ${sn_name} \
  --chain ${sn_para_spec} \
  --base-path ${sn_base_path} \
  --port ${sn_port} \
  --ws-port ${sn_ws_port} \
  --ws-max-connections ${sn_ws_max_connections} \
  --rpc-port ${sn_rpc_port} \
  --rpc-cors ${sn_rpc_cors} \
  --rpc-methods ${sn_rpc_methods} \
  --state-cache-size ${sn_state_cache_size} \
  ${sn_para_args} \
  --bootnodes ${sn_para_bootnodes} \
  -- \
  ${sn_relay_flags} \
  --chain ${sn_relay_spec} \
  ${sn_relay_args}
User=manta
Group=manta
Restart=always
RestartSec=120
MemoryHigh=5400M
MemoryMax=5500M
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @module @mount @reboot @swap @privileged
UMask=0027

[Install]
WantedBy=multi-user.target
