[Unit]
Description=Calamari Parachain Node
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/calamari \
    --chain /usr/share/substrate/calamari.json \
    --base-path /var/lib/substrate \
    --port 31333 \
    --rpc-max-connections 100 \
    --rpc-port 9133 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --bootnodes \
        /dns/a1.calamari.systems/tcp/30333/p2p/12D3KooWBL5E61p9tdAq2LnZGgfgxArrb3T6KYdHSo4yaHy7KYku \
        /dns/a2.calamari.systems/tcp/30333/p2p/12D3KooWDpx4LHzAyVHdQAZqEfdCpYkPaB83ZjHANCcACUU2xGDn \
    -- \
    --chain kusama
User=manta
Group=manta
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
