[Unit]
Description=Manta Parachain Node
After=network.target

[Service]
ExecStart=/usr/bin/manta \
    --chain /usr/share/substrate/manta.json \
    --base-path /var/lib/substrate \
    --port 32333 \
    --ws-port 9244 \
    --ws-max-connections 100 \
    --rpc-port 9233 \
    --rpc-cors all \
    --rpc-methods safe \
    --state-cache-size 0 \
    --bootnodes \
        /dns/alfredi.manta.systems/tcp/30333/p2p/12D3KooWKMw84HHuEbjHep6FVqUM2sss6TCzqehfXKw3PGoB4HoG \
        /dns/birostris.manta.systems/tcp/30333/p2p/12D3KooWP5ASruuz1BEnD5M1QMSS7GiiFTnXMNoDUDn7o9GmcRyZ \
        /dns/eregoodootenkey.manta.systems/tcp/30333/p2p/12D3KooWCKgXKVYbpxkmouHBrCyaPGr7NJSHVAgncUPVzH9fTB5e \
        /dns/hypostoma.manta.systems/tcp/30333/p2p/12D3KooWHF462NFNuhPAK3cmqZ6c9jD85GnknsFT43n8TFdWcxJY \
        /dns/japanica.manta.systems/tcp/30333/p2p/12D3KooWQvvB62n2dEWEYxUCcqzU6dxzVgi8ACPA6X7VeWzxAFMF \
    -- \
    --chain /usr/share/substrate/polkadot.json
User=manta
Group=manta
Restart=always
RestartSec=120
MemoryHigh=5400M
MemoryMax=5500M
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @module @mount @reboot @swap @privileged
UMask=0027

[Install]
WantedBy=multi-user.target
