[package]
authors = ['Manta Network']
description = "Primitives for session keys"
edition = "2021"
license = 'GPL-3.0'
name = "session-key-primitives"
version = "3.2.0"

[dependencies]
manta-primitives = { path = "../manta", default-features = false }
nimbus-primitives = { git = "https://github.com/manta-network/nimbus.git", branch = "polkadot-v0.9.22", default-features = false }
parity-scale-codec = { version = "3.1.2", default-features = false, features = ["derive"] }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
sp-application-crypto = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.22", default-features = false }
sp-consensus-aura = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.22" }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.22", default-features = false }

[features]
default = ["std"]
std = [
  "manta-primitives/std",
  "nimbus-primitives/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "sp-application-crypto/std",
  "sp-runtime/std",
  'sp-core/std',
  'sp-consensus-aura/std',
]
