[package]
authors = ["Manta Network"]
description = "Primitives for session keys"
edition = "2021"
license = "GPL-3.0"
name = "session-key-primitives"
version = '4.0.4'

[dependencies]
async-trait = { version = "0.1", optional = true }
manta-primitives = { path = "../manta", default-features = false }
nimbus-primitives = { git = "https://github.com/manta-network/nimbus.git", tag = "v4.0.1", default-features = false }
parity-scale-codec = { version = "3.1.2", default-features = false, features = ["derive"] }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
sp-application-crypto = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28", default-features = false }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.28" }
sp-core = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.28" }
sp-inherents = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.28", default-features = false }

[features]
default = ["std"]
std = [
  "async-trait",
  "manta-primitives/std",
  "nimbus-primitives/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "sp-application-crypto/std",
  "sp-consensus-aura/std",
  "sp-core/std",
  "sp-runtime/std",
]
