[package]
authors = ['Manta Network']
edition = '2021'
homepage = 'https://manta.network'
license = 'GPL-3.0'
name = 'calamari-runtime'
repository = 'https://github.com/Manta-Network/Manta/'
version = '4.0.0-alpha.1'

[dependencies]
codec = { package = "parity-scale-codec", version = '3.1.2', default-features = false, features = ["derive", "max-encoded-len"] }
hex-literal = { version = '0.3.4', optional = true }
log = { version = "0.4.16", default-features = false }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
serde = { version = "1.0.140", features = ['derive'], optional = true }
smallvec = "1.8.0"

# Substrate primitives
sp-api = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-application-crypto = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-arithmetic = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-block-builder = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-consensus-aura = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-inherents = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-io = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-offchain = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-runtime = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-session = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-std = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-transaction-pool = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
sp-version = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }

# Substrate frames
frame-benchmarking = { git = 'https://github.com/paritytech/substrate.git', default-features = false, optional = true, branch = "polkadot-v0.9.26" }
frame-executive = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
frame-support = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
frame-system = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
frame-system-benchmarking = { git = 'https://github.com/paritytech/substrate.git', default-features = false, optional = true, branch = "polkadot-v0.9.26" }
frame-system-rpc-runtime-api = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
frame-try-runtime = { git = "https://github.com/paritytech/substrate.git", default-features = false, optional = true, branch = "polkadot-v0.9.26" }

# Substrate pallets
pallet-assets = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-aura = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-authorship = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-balances = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-collective = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-democracy = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-membership = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-multisig = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-preimage = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-scheduler = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-session = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-timestamp = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-transaction-payment = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-transaction-payment-rpc-runtime-api = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
pallet-treasury = { git = "https://github.com/paritytech/substrate.git", default-features = false, branch = "polkadot-v0.9.26" }
pallet-utility = { git = 'https://github.com/paritytech/substrate.git', default-features = false, branch = "polkadot-v0.9.26" }
substrate-fixed = { git = "https://github.com/Manta-Network/substrate-fixed.git", tag = "v0.5.9", default-features = false }

# Cumulus dependencies
cumulus-pallet-dmp-queue = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-pallet-parachain-system = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-pallet-session-benchmarking = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, optional = true, branch = "polkadot-v0.9.26" }
cumulus-pallet-xcm = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-pallet-xcmp-queue = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-primitives-core = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-primitives-timestamp = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
cumulus-primitives-utility = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }
parachain-info = { git = 'https://github.com/paritytech/cumulus.git', default-features = false, branch = "polkadot-v0.9.26" }

# Nimbus Dependencies
nimbus-primitives = { git = "https://github.com/manta-network/nimbus.git", tag = "v4.0.0", default-features = false }
pallet-aura-style-filter = { git = "https://github.com/manta-network/nimbus.git", tag = "v4.0.0", default-features = false }
pallet-author-inherent = { git = "https://github.com/manta-network/nimbus.git", tag = "v4.0.0", default-features = false }

# Polkadot dependencies
pallet-xcm = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }
pallet-xcm-benchmarks = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26", optional = true }
polkadot-parachain = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }
polkadot-primitives = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }
xcm = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }
xcm-builder = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }
xcm-executor = { git = 'https://github.com/paritytech/polkadot.git', default-features = false, branch = "release-v0.9.26" }

# Third party (vendored) dependencies
orml-traits = { git = 'https://github.com/manta-network/open-runtime-module-library.git', default-features = false, branch = "polkadot-v0.9.26" }
orml-xtokens = { git = 'https://github.com/manta-network/open-runtime-module-library.git', default-features = false, branch = "polkadot-v0.9.26" }

# Self dependencies
calamari-vesting = { path = '../../pallets/vesting', default-features = false }
manta-collator-selection = { path = '../../pallets/collator-selection', default-features = false }
manta-primitives = { path = '../../primitives/manta', default-features = false }
pallet-asset-manager = { path = '../../pallets/asset-manager', default-features = false }
pallet-manta-pay = { path = '../../pallets/manta-pay', default-features = false, features = ["runtime"] }
pallet-parachain-staking = { path = '../../pallets/parachain-staking', default-features = false }
pallet-tx-pause = { path = '../../pallets/tx-pause', default-features = false }
runtime-common = { path = '../common', default-features = false }
session-key-primitives = { path = '../../primitives/session-keys', default-features = false }

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }

[dev-dependencies]
lazy_static = "1.4.0"
reqwest = { version = "0.11", features = ["blocking"] }
serde_json = "1.0"

# 3rd dependencies
codec = { package = "parity-scale-codec", version = "3.1.2" }
scale-info = { version = "2.1.2", features = ["derive"] }

# Substrate dependencies
frame-system = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
pallet-assets = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
pallet-balances = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
pallet-utility = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
sp-io = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }
sp-std = { git = 'https://github.com/paritytech/substrate.git', branch = "polkadot-v0.9.26" }

# Polkadot dependencies
pallet-xcm = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
polkadot-core-primitives = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
polkadot-parachain = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
polkadot-runtime-parachains = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
xcm = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
xcm-builder = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
xcm-executor = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }
xcm-simulator = { git = 'https://github.com/paritytech/polkadot.git', branch = "release-v0.9.26" }

# Cumulus dependencies
cumulus-pallet-dmp-queue = { git = 'https://github.com/paritytech/cumulus.git', branch = "polkadot-v0.9.26" }
cumulus-pallet-parachain-system = { git = 'https://github.com/paritytech/cumulus.git', branch = "polkadot-v0.9.26" }
cumulus-pallet-xcm = { git = 'https://github.com/paritytech/cumulus.git', branch = "polkadot-v0.9.26" }
cumulus-pallet-xcmp-queue = { git = 'https://github.com/paritytech/cumulus.git', branch = "polkadot-v0.9.26" }
cumulus-primitives-parachain-inherent = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.26" }
cumulus-test-relay-sproof-builder = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.26" }
parachain-info = { git = 'https://github.com/paritytech/cumulus.git', branch = "polkadot-v0.9.26" }

# Orml dependencies
orml-traits = { git = "https://github.com/manta-network/open-runtime-module-library.git", branch = "polkadot-v0.9.26" }
orml-xtokens = { git = "https://github.com/manta-network/open-runtime-module-library.git", branch = "polkadot-v0.9.26" }

# Self dependencies
pallet-asset-manager = { path = '../../pallets/asset-manager' }


[features]
default = ['std']
runtime-benchmarks = [
  'cumulus-pallet-session-benchmarking/runtime-benchmarks',
  'hex-literal',
  'sp-runtime/runtime-benchmarks',
  'xcm-builder/runtime-benchmarks',
  'frame-benchmarking',
  'frame-system-benchmarking',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'manta-collator-selection/runtime-benchmarks',
  'nimbus-primitives/runtime-benchmarks',
  'pallet-aura-style-filter/runtime-benchmarks',
  'pallet-author-inherent/runtime-benchmarks',
  'pallet-balances/runtime-benchmarks',
  'pallet-multisig/runtime-benchmarks',
  'pallet-utility/runtime-benchmarks',
  'pallet-timestamp/runtime-benchmarks',
  'pallet-xcm/runtime-benchmarks',
  'pallet-collective/runtime-benchmarks',
  'pallet-democracy/runtime-benchmarks',
  'pallet-scheduler/runtime-benchmarks',
  'pallet-membership/runtime-benchmarks',
  'calamari-vesting/runtime-benchmarks',
  'pallet-tx-pause/runtime-benchmarks',
  'pallet-treasury/runtime-benchmarks',
  'pallet-parachain-staking/runtime-benchmarks',
  'pallet-preimage/runtime-benchmarks',
  'pallet-assets/runtime-benchmarks',
  'pallet-asset-manager/runtime-benchmarks',
  'cumulus-pallet-xcmp-queue/runtime-benchmarks',
  'cumulus-pallet-parachain-system/runtime-benchmarks',
  'pallet-manta-pay/runtime-benchmarks',
  'pallet-xcm-benchmarks',
]
try-runtime = [
  'frame-executive/try-runtime',
  'frame-try-runtime',
  'frame-system/try-runtime',
  'pallet-authorship/try-runtime',
  'pallet-balances/try-runtime',
  'pallet-parachain-staking/try-runtime',
  'pallet-preimage/try-runtime',
  'pallet-multisig/try-runtime',
  'pallet-session/try-runtime',
  'pallet-timestamp/try-runtime',
  'pallet-transaction-payment/try-runtime',
  'pallet-utility/try-runtime',
  'pallet-collective/try-runtime',
  'pallet-democracy/try-runtime',
  'pallet-scheduler/try-runtime',
  'pallet-membership/try-runtime',
  'pallet-treasury/try-runtime',
  'pallet-assets/try-runtime',
  'pallet-tx-pause/try-runtime',
  'pallet-asset-manager/try-runtime',
  'runtime-common/try-runtime',
]
# Set timing constants (e.g. session period) to faster versions to speed up testing.
fast-runtime = []
std = [
  'codec/std',
  'serde',
  'sp-consensus-aura/std',
  'pallet-aura/std',
  'sp-api/std',
  'sp-std/std',
  'sp-io/std',
  'sp-core/std',
  'sp-runtime/std',
  'sp-version/std',
  'sp-offchain/std',
  'sp-session/std',
  'sp-block-builder/std',
  'sp-transaction-pool/std',
  'sp-inherents/std',
  'frame-support/std',
  'frame-executive/std',
  'frame-system/std',
  'frame-system-rpc-runtime-api/std',
  'frame-try-runtime/std',
  'pallet-authorship/std',
  'pallet-balances/std',
  'pallet-multisig/std',
  'pallet-parachain-staking/std',
  'substrate-fixed/std',
  'pallet-preimage/std',
  'pallet-utility/std',
  'pallet-transaction-payment-rpc-runtime-api/std',
  'pallet-timestamp/std',
  'pallet-session/std',
  'sp-application-crypto/std',
  'pallet-xcm/std',
  'pallet-transaction-payment/std',
  'pallet-treasury/std',
  'pallet-collective/std',
  'pallet-democracy/std',
  'pallet-scheduler/std',
  'pallet-membership/std',
  'manta-primitives/std',
  'runtime-common/std',
  'parachain-info/std',
  'cumulus-pallet-parachain-system/std',
  'cumulus-pallet-dmp-queue/std',
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-pallet-xcm/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "pallet-author-inherent/std",
  "pallet-aura-style-filter/std",
  'session-key-primitives/std',
  'xcm/std',
  'xcm-builder/std',
  'xcm-executor/std',
  'polkadot-primitives/std',
  'manta-collator-selection/std',
  'calamari-vesting/std',
  'pallet-tx-pause/std',
  'pallet-treasury/std',
  'pallet-assets/std',
  'pallet-asset-manager/std',
  'orml-traits/std',
  'orml-xtokens/std',
  'pallet-manta-pay/std',
]
