---

name: Check Set-Up & Build

# Controls when the action will run.
# yamllint disable-line rule:truthy
on:
  # Triggers the workflow on push or pull request events
  # but only for the manta (default) branch.
  pull_request:
    branches: [manta]
  push:
    branches: [manta]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs
# that can run sequentially or in parallel
jobs:
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks
    # that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE,
      # so your job can access it
      - uses: actions/checkout@v2

      - name: Run yamllint
        uses: actionshub/yamllint@main

      - name: Set-Up
        run: sudo apt install -y
             cmake pkg-config libssl-dev
             git build-essential clang
             libclang-dev curl

      - name: Install Rustup
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source ~/.cargo/env
          rustup update nightly
          rustup target add wasm32-unknown-unknown --toolchain nightly
          rustup component add clippy
          rustup component add rustfmt
      - name: Check Formatting
        run: |
          cargo +nightly fmt --all -- --check
      - name: Check Clippy
        run: |
          cargo +nightly clippy
      - name: Check Build
        run: |
          cargo check --all-features
      - name: Run Tests
        run: |
          cargo test --release --all-features
