---

# yamllint disable rule:line-length

name: "Developer Certificate of Origin"

# yamllint disable-line rule:truthy
on: [pull_request]
jobs:
  commits_check_job:
    name: "Validate presence of DCO information"
    runs-on: ubuntu-latest
    steps:
      -
        id: get-pr-commits
        name: "Get PR Commits"
        uses: tim-actions/get-pr-commits@master
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
      -
        name: "DCO Check"
        uses: tim-actions/dco@master
        with:
          commits: "${{ steps.get-pr-commits.outputs.commits }}"

  run_if_failure:
    runs-on: ubuntu-latest
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    needs: [commits_check_job]
    name: Follow steps to sign Developer Certificate of Origin
    steps:
      - uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          message: |
            Please follow the below instruction to signoff the Developer's Certificate of Origin and verify your identity:
            1. Signoff on all commits with your name and email:
               `git config --global user.name your_name`
               `git config --global user.email you_email`
              Git will add the correct paragraph at the end of your commit message.
              COMMAND : `git commit -s -S -m your_commit_message`
              '-s' = 'Signed-off-by'
              '-S' = 'Verify commit using gpg key'
              If there is more than one commit in your pull request and your git client is modern enough (2.13+), rebase the required number of commits with --signoff:
               `git rebase --signoff HEAD^^`
              Write ^ as many times as there are commits in your pull request. Then, force push:
               `git push -f origin <your branch here, probably "master">`
            2. Sign all commits with a gpg key for verification:
              https://docs.github.com/en/authentication/managing-commit-signature-verification/signing-commits
