---
name: publish calamari parachain container
# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
jobs:
  docker-hub-deploy:
    runs-on: ubuntu-20.04
    steps:
      -
        uses: docker/setup-buildx-action@v1
      -
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.MANTABOT_DOCKER_USERNAME }}
          password: ${{ secrets.MANTABOT_DOCKER_TOKEN }}
      -
        uses: docker/build-push-action@v2
        with:
          push: true
          file: docker/calamari.Dockerfile
          tags: |
            mantanetwork/calamari:latest
            mantanetwork/calamari:${{ github.event.release.tag_name }}
          build-args: |
            PARA_BINARY_REF=${{ github.event.release.tag_name }}
