name: Labels Checker
on:
  pull_request:
    branches: [manta]
    types: [opened, reopened, synchronize, labeled, unlabeled]
jobs:
  check_l_labels:
    name: L- Labels Check
    runs-on: ubuntu-20.04
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:latest
        with:
          one_of: L-added,L-changed,L-fixed,L-deprecated,L-removed,L-skip
          repo_token: ${{ secrets.GITHUB_TOKEN }}
