---

# yamllint disable rule:line-length

name: publish draft releases

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:

  get-rust-versions:
    runs-on: ubuntu-latest
    container:
      image: paritytech/ci-linux:production
    outputs:
      rustc-stable: ${{ steps.get-rust-versions.outputs.stable }}
      rustc-nightly: ${{ steps.get-rust-versions.outputs.nightly }}
    env:
      CARGO_TERM_COLOR: always
    steps:
      -
        id: get-rust-versions
        run: |
          echo "::set-output name=stable::$(rustc +stable --version)"
          echo "::set-output name=nightly::$(rustc +nightly --version)"

  build-runtime:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime:
          - calamari
          # - manta-pc
    env:
      CARGO_TERM_COLOR: always
    steps:
      -
        uses: actions/checkout@v2
      -
        name: cache target dir
        uses: actions/cache@v2
        with:
          path: "${{ github.workspace }}/runtime/${{ matrix.runtime }}/target"
          key: srtool-target-${{ matrix.runtime }}-${{ github.sha }}
          restore-keys: |
            srtool-target-${{ matrix.runtime }}-
            srtool-target-
      -
        name: build ${{ matrix.runtime }} runtime
        id: srtool-build
        uses: chevdor/srtool-actions@v0.3.0
        with:
          image: paritytech/srtool
          chain: ${{ matrix.runtime }}
      -
        name: persist srtool digest
        env:
          matrix_runtime: ${{ matrix.runtime }}
        run: >
          echo '${{ steps.srtool-build.outputs.json }}' |
          sed "s/${matrix_runtime//-/_}/${matrix_runtime}/g" |
          jq > ${{ matrix.runtime }}-srtool-output.json
      -
        name: upload ${{ matrix.runtime }} srtool json
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.runtime }}-srtool-json
          path: ${{ matrix.runtime }}-srtool-output.json
      -
        name: upload ${{ matrix.runtime }} runtime
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.runtime }}-runtime
          path: |
            ${{ steps.srtool-build.outputs.wasm }}
            ${{ steps.srtool-build.outputs.wasm_compressed }}

  build-node:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      -
        uses: actions/checkout@v2
      -
        name: install sccache

        env:
          SCCACHE_RELEASE_URL: https://github.com/mozilla/sccache/releases/download
          SCCACHE_VERSION: v0.2.15
        run: |
          SCCACHE_FILE=sccache-$SCCACHE_VERSION-x86_64-unknown-linux-musl
          mkdir -p $HOME/.local/bin
          curl -L "$SCCACHE_RELEASE_URL/$SCCACHE_VERSION/$SCCACHE_FILE.tar.gz" | tar xz
          mv -f $SCCACHE_FILE/sccache $HOME/.local/bin/sccache
          chmod +x $HOME/.local/bin/sccache
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      -
        name: cache cargo registry
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-
      -
        name: cache sccache
        uses: actions/cache@v2
        continue-on-error: false
        with:
          path: /home/runner/.cache/sccache
          key: sccache-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            sccache-
      -
        name: start sccache server
        run: sccache --start-server
      -
        name: init
        run: |
          rustup update nightly
          rustup update stable
          rustup target add wasm32-unknown-unknown --toolchain nightly
          cargo +nightly install --git https://github.com/alexcrichton/wasm-gc --force
      -
        name: build
        env:
          RUST_BACKTRACE: full
          RUSTC_WRAPPER: sccache
          # RUSTV: ${{ matrix.rust }}
          SCCACHE_CACHE_SIZE: 2G
          SCCACHE_DIR: /home/runner/.cache/sccache
        run: |
          cargo build --verbose --release --features calamari
      -
        name: stop sccache server
        run: sccache --stop-server || true
      -
        name: strip
        run: |
          strip target/release/calamari-pc
      -
        name: upload
        uses: actions/upload-artifact@v2
        with:
          name: calamari-pc
          path: target/release/calamari-pc

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime:
          - calamari
          # - manta-pc
    needs:
      - build-node
      - build-runtime
    steps:
      -
        name: make some room
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
      -
        name: fetch calamari-pc
        uses: actions/download-artifact@v2
        with:
          name: calamari-pc
      -
        name: mv and chmod calamari-pc
        run: |
          mkdir -p $HOME/.local/bin
          mv ${{ github.workspace }}/calamari-pc $HOME/.local/bin/
          chmod +x $HOME/.local/bin/calamari-pc
          ls -ahl ${{ github.workspace }}/
          ls -ahl $HOME/.local/bin/
      -
        name: fetch and chmod polkadot
        run: |
          curl -L -o $HOME/.local/bin/polkadot https://github.com/paritytech/polkadot/releases/download/v0.9.8/polkadot
          chmod +x $HOME/.local/bin/polkadot
          ls -ahl $HOME/.local/bin/
      -
        name: create chainspec
        run: |
          mkdir -p $HOME/.local/share/calamari-pc
          $HOME/.local/bin/calamari-pc export-state --chain ${{ matrix.runtime }}-testnet > $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-state.json
          jq \
            --sort-keys \
            --arg name "${{ matrix.runtime }} testnet ${GITHUB_SHA:0:7}" \
            --arg id ${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7} \
            --arg relay_chain rococo-local-${GITHUB_SHA:0:7} \
            --arg parachain_id 2084 \
            '. |
              .name = $name |
              .id = $id |
              .relay_chain = $relay_chain |
              .para_id = ($parachain_id | tonumber) |
              .telemetryEndpoints = [["/dns/api.telemetry.manta.systems/tcp/443/x-parity-wss/%2Fsubmit%2F", 0]]
            ' $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-state.json > $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}.json
          jq . $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}.json
          ls -ahl $HOME/.local/share/calamari-pc/
      -
        name: create launch config
        run: |
          tree ${{ github.workspace }}
          echo '{
            "relaychain": {
              "chain": "rococo-local",
              "mutation": {},
              "nodes": [
                {
                  "name": "alice",
                  "wsPort": 9911,
                  "port": 31331,
                  "flags": [
                    "--rpc-cors=all",
                    "--telemetry-url=wss://api.telemetry.manta.systems/submit 0"
                  ]
                },
                {
                  "name": "bob",
                  "wsPort": 9912,
                  "port": 31332,
                  "flags": [
                    "--rpc-cors=all",
                    "--telemetry-url=wss://api.telemetry.manta.systems/submit 0"
                  ]
                }
              ],
              "genesis": {
                "runtime": {
                  "runtime_genesis_config": {
                    "parachainsConfiguration": {
                      "config": {
                        "validation_upgrade_frequency": 1,
                        "validation_upgrade_delay": 1
                      }
                    }
                  }
                }
              }
            },
            "parachains": [
              {
                "id": "2084",
                "nodes": [
                  {
                    "name": "alice",
                    "wsPort": 9921,
                    "port": 32331,
                    "flags": [
                      "--rpc-cors=all",
                      "--",
                      "--execution=wasm"
                    ]
                  },
                  {
                    "name": "bob",
                    "wsPort": 9922,
                    "port": 32332,
                    "flags": [
                      "--rpc-cors=all",
                      "--",
                      "--execution=wasm"
                    ]
                  }
                ]
              }
            ],
            "hrmpChannels": [],
            "types": {},
            "finalization": false
          }' | \
          jq \
            --arg relaychain_bin $HOME/.local/bin/polkadot \
            --arg relaychain_id rococo-local-${GITHUB_SHA:0:7} \
            --arg relaychain_name "rococo local ${GITHUB_SHA:0:7}" \
            --arg parachains_bin $HOME/.local/bin/calamari-pc \
            --arg parachains_spec $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}.json \
            '.
              | .relaychain.bin = $relaychain_bin
              | .relaychain.mutation.id = $relaychain_id
              | .relaychain.mutation.name = $relaychain_name
              | .parachains[].bin = $parachains_bin
              | .parachains[].chain = $parachains_spec
            ' > $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}-launch-config.json
          jq . $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}-launch-config.json
          ls -ahl $HOME/.local/share/calamari-pc/
      -
        uses: actions/checkout@v2
        with:
          repository: Manta-Network/manta-pc-launch
          path: manta-pc-launch
      -
        name: launch testnet
        run: |
          tree ${{ github.workspace }}
          cd ${{ github.workspace }}/manta-pc-launch
          yarn
          yarn build
          yarn start $HOME/.local/share/calamari-pc/${{ matrix.runtime }}-testnet-${GITHUB_SHA:0:7}-launch-config.json

  build-changelog:
    runs-on: ubuntu-latest
    needs:
      - get-rust-versions
      - build-runtime
    steps:
      -
        uses: actions/download-artifact@v2
        with:
          name: manta-pc-srtool-json
      -
        uses: actions/download-artifact@v2
        with:
          name: calamari-srtool-json
      -
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: Manta
      -
        name: ruby setup
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7
      -
        name: changelog gems
        run: |
          gem install changelogerator git toml
      -
        name: generate changelog
        env:
          RUSTC_STABLE: ${{ needs.get-rust-versions.outputs.rustc-stable }}
          RUSTC_NIGHTLY: ${{ needs.get-rust-versions.outputs.rustc-nightly }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          ruby $GITHUB_WORKSPACE/Manta/scripts/github/generate-changelog.rb |
          tee changelog.md
      -
        name: upload changelog
        uses: actions/upload-artifact@v2
        with:
          name: changelog
          path: changelog.md

  create-draft-release:
    runs-on: ubuntu-latest
    needs:
      - build-changelog
      - build-runtime
      - integration-test
    outputs:
      release_url: ${{ steps.create-release.outputs.html_url }}
      asset_upload_url: ${{ steps.create-release.outputs.upload_url }}
    steps:
      -
        uses: actions/download-artifact@v2
        with:
          name: changelog
          path: ./
      -
        name: create draft release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: manta ${{ github.ref }}
          body_path: changelog.md
          draft: true

  publish-runtime:
    runs-on: ubuntu-latest
    needs:
      - create-draft-release
    strategy:
      fail-fast: false
      matrix:
        runtime:
          - calamari
          # - manta-pc
    steps:
      -
        uses: actions/checkout@v2
      -
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.runtime }}-runtime
      -
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.runtime }}-srtool-json
      -
        name: ruby setup
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7
      -
        name: list artifacts
        run: |
          ls
      -
        if: contains(matrix.runtime, '-')
        name: rename underscored artifacts
        env:
          matrix_runtime: ${{ matrix.runtime }}
        run: |
          mv \
            ${matrix_runtime//-/_}_runtime.compact.compressed.wasm \
            ${{ matrix.runtime }}_runtime.compact.compressed.wasm
          mv \
            ${matrix_runtime//-/_}_runtime.compact.wasm \
            ${{ matrix.runtime }}_runtime.compact.wasm
          ls
      -
        name: get runtime version
        id: get-runtime-version
        run: |
          runtime_ver="$(ruby -e '
            require "./scripts/github/lib.rb";
            puts get_runtime("${{ matrix.runtime }}")
          ')"
          echo "::set-output name=runtime_ver::$runtime_ver"
      -
        name: upload compact ${{ matrix.runtime }} wasm
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: ${{ matrix.runtime }}_runtime.compact.wasm
          asset_name: ${{ matrix.runtime }}-runtime-v${{ steps.get-runtime-version.outputs.runtime_ver }}.compact.wasm
          asset_content_type: application/wasm
      -
        name: upload compressed ${{ matrix.runtime }} wasm
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: ${{ matrix.runtime }}_runtime.compact.compressed.wasm
          asset_name: ${{ matrix.runtime }}-runtime-v${{ steps.get-runtime-version.outputs.runtime_ver }}.compact.compressed.wasm
          asset_content_type: application/wasm
      -
        name: upload ${{ matrix.runtime }} types json
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: types.json
          asset_name: ${{ matrix.runtime }}-types-v${{ steps.get-runtime-version.outputs.runtime_ver }}.json
          asset_content_type: application/json
      -
        name: upload ${{ matrix.runtime }} srtool output json
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: ${{ matrix.runtime }}-srtool-output.json
          asset_name: ${{ matrix.runtime }}-srtool-output-v${{ steps.get-runtime-version.outputs.runtime_ver }}.json
          asset_content_type: application/json

  publish-node:
    runs-on: ubuntu-latest
    needs:
      - build-node
      - create-draft-release
    outputs:
      download_url: ${{ steps.upload-calamari-pc.outputs.browser_download_url }}
    steps:
      -
        uses: actions/download-artifact@v2
        with:
          name: calamari-pc
      -
        id: upload-calamari-pc
        name: upload calamari-pc
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: calamari-pc
          asset_name: calamari-pc
          asset_content_type: application/octet-stream

  brag:
    runs-on: ubuntu-latest
    needs: create-draft-release
    steps:
      -
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_USERNAME: raybot
          DISCORD_AVATAR: https://gist.githubusercontent.com/grenade/66a46007b37778d81ee064394263b16c/raw/raybot.png
        uses: Ilshidur/action-discord@0.3.2
        with:
          args: 'draft runtime release ${{ github.ref }} created at ${{ needs.create-draft-release.outputs.release_url }}'

# yamllint enable rule:line-length
