---
name: publish draft releases

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

env:
  CARGO_TERM_COLOR: always

jobs:

  get-rust-versions:
    runs-on: ubuntu-latest
    container:
      image: paritytech/ci-linux:production
    outputs:
      rustc-stable: ${{ steps.get-rust-versions.outputs.stable }}
      rustc-nightly: ${{ steps.get-rust-versions.outputs.nightly }}
    steps:
      -
        id: get-rust-versions
        run: |
          echo "::set-output name=stable::$(rustc +stable --version)"
          echo "::set-output name=nightly::$(rustc +nightly --version)"

  build-runtimes:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime:
          - calamari
          - manta-pc
    steps:
      -
        uses: actions/checkout@v2
      -
        name: cache target dir
        uses: actions/cache@v2
        with:
          path: "${{ github.workspace }}/runtime/${{ matrix.runtime }}/target"
          key: srtool-target-${{ matrix.runtime }}-${{ github.sha }}
          restore-keys: |
            srtool-target-${{ matrix.runtime }}-
            srtool-target-
      -
        name: build ${{ matrix.runtime }} runtime
        id: srtool_build
        uses: chevdor/srtool-actions@v0.3.0
        with:
          image: paritytech/srtool
          chain: ${{ matrix.runtime }}
      -
        name: persist srtool digest
        run: >
          echo '${{ steps.srtool_build.outputs.json }}' |
          jq > ${{ matrix.runtime }}_srtool_output.json
      -
        name: upload ${{ matrix.runtime }} srtool json
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.runtime }}-srtool-json
          path: ${{ matrix.runtime }}_srtool_output.json
      -
        name: upload ${{ matrix.runtime }} runtime
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.runtime }}-runtime
          path: |
            ${{ steps.srtool_build.outputs.wasm }}
            ${{ steps.srtool_build.outputs.wasm_compressed }}

  build-changelog:
    runs-on: ubuntu-latest
    needs:
      - get-rust-versions
    steps:
      -
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          path: Manta
      -
        name: ruby setup
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7
      -
        name: changelog gems
        run: |
          gem install changelogerator git toml
      -
        name: generate changelog
        env:
          RUSTC_STABLE: ${{ needs.get-rust-versions.outputs.rustc-stable }}
          RUSTC_NIGHTLY: ${{ needs.get-rust-versions.outputs.rustc-nightly }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          ruby $GITHUB_WORKSPACE/Manta/scripts/github/generate-changelog.rb ||
          cat $GITHUB_WORKSPACE/Manta/scripts/github/fallback-changelog.md |
          tee changelog.md
      -
        name: upload changelog
        uses: actions/upload-artifact@v2
        with:
          name: changelog
          path: changelog.md

  create-draft-release:
    runs-on: ubuntu-latest
    needs:
      - build-changelog
      - build-runtimes
    outputs:
      release_url: ${{ steps.create-release.outputs.html_url }}
      asset_upload_url: ${{ steps.create-release.outputs.upload_url }}
    steps:
      -
        uses: actions/download-artifact@v2
        with:
          name: changelog
          path: ./
      -
        name: create draft release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Manta ${{ github.ref }}
          body_path: changelog.md
          draft: true

  publish-runtimes:
    runs-on: ubuntu-latest
    needs:
      - create-draft-release
    strategy:
      matrix:
        runtime:
          - calamari
          # - manta-pc
    steps:
      -
        uses: actions/checkout@v2
      -
        uses: actions/download-artifact@v2
      -
        name: ruby setup
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7
      -
        name: get runtime version
        id: get-runtime-version
        # yamllint disable rule:line-length
        run: |
          ls
          ls "${{ matrix.runtime }}-runtime"
          runtime_ver="$(ruby -e 'require "./scripts/github/lib.rb"; puts get_runtime("${{ matrix.runtime }}")')"
          echo "::set-output name=runtime_ver::$runtime_ver"
        # yamllint enable rule:line-length
      -
        name: upload compact ${{ matrix.runtime }} wasm
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # yamllint disable rule:line-length
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: "${{ matrix.runtime }}-runtime/${{ matrix.runtime }}_runtime.compact.wasm"
          asset_name: ${{ matrix.runtime }}_runtime-v${{ steps.get-runtime-version.outputs.runtime_ver }}.compact.wasm
          asset_content_type: application/wasm
          # yamllint enable rule:line-length
      -
        name: upload compressed ${{ matrix.runtime }} wasm
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # yamllint disable rule:line-length
          upload_url: ${{ needs.create-draft-release.outputs.asset_upload_url }}
          asset_path: "${{ matrix.runtime }}-runtime/${{ matrix.runtime }}_runtime.compact.compressed.wasm"
          asset_name: ${{ matrix.runtime }}_runtime-v${{ steps.get-runtime-version.outputs.runtime_ver }}.compact.compressed.wasm
          asset_content_type: application/wasm
          # yamllint enable rule:line-length
